# Informational files
include README.md
include LICENSE

# Exclude any compile Python files (most likely grafted by tests/directory)
global-exclude *.pyc

# Setup-related things
include Pipfile
include requirements.txt
include setup.py
