# Runtime requirements
--requirement requirements.txt

# Testing
pytest==6.1.0
py==1.4.19
mock==4.0.2

# Linting
flake8==3.8.3
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.2.0

# Documentation
Sphinx==3.2.1
docutils==0.16
Jinja2==2.11.2
MarkupSafe==1.1.1
Pygments==2.7.1

# Miscellaneous
Paver==1.3.4
colorama==0.4.3
